{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
    <title>Lista de Tareas</title>
</head>
<body>
    <div class="container">
        <h1>Lista de Tareas</h1>
        <ul>
            <li>Terminar la tarea de matemáticas</li>
            <li>Estudiar para el examen de historia</li>
            <li>Llamar al médico para hacer una cita</li>
        </ul>
    </div>
</body>
</html>